html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
}

#wrap {
    width: 70%;
    margin: 0 auto;
}

header,
nav,
section,
footer {
    padding: 30px;
    margin: 5px 0;
    background-color: #fff;
}

header {}

nav {}

section {}

footer {}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

legend {
    font-size: 30px;
    font-family: Georgia, serif;
    color: white;
    background-color: navy;
    font-weight: bold;
    padding: 5px 10px;
}

.button {
    background-color: navy;
    color: white;
}

textarea {
    width: 95%;
    height: 90px;
}

form {
    width: 50%;
    margin: 0 auto;
}

fieldset {
    background-color: #BBB;
    border-radius: 1em;
}
